.account-col{
	h1{
		@include title_bar;
		margin-top: 0px;
	}
	._users{
		padding: 5px;
		background-color: #eee;
		text-align: center;
		a{
			margin: 5px;
		}
	}
	.test{
		padding: 5px;
	}
	.checkout-container{
		overflow: hidden;
		.sub-col{
			label{
				display: inline-block;
				min-width: 110px;
			}
			select{
				width: 150px;
			}
			#address2{
				margin-left: 114px !important;
			}
			input[type=text]{
				margin: 5px 0px;
				padding: 4px;
				background: #ccc;
				border: 1px solid #aaa;
				box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
			}
		}
	}
	.content_footer{
		margin-bottom: 10px;
		margin-left: 10px;
	}
}
.alert{
	color: #C00;
}