._orderDetails{
	label{
		display: inline-block;
	}
	#WC_ContentAreaESpot_div_1_63001{

	}
	#box{
		._orderInfo{
			padding: 5px;
			background-color: #eee;
			border: 1px solid #aaa;
			margin: 5px;
		}
		._content{
			padding: 5px;
			border: 2px solid #ccc;
			margin: 5px 17px;
			.sub-col{
				span{
					display: inherit;
				}
				label{
					min-width: 120px;
				}
			}
		}
		.checkout-container{
			#OrderConfirmPagingDisplay{
				-webkit-box-shadow: #555555 1px 1px 4px;
				background: white;
				border-bottom-left-radius: 3px 3px;
				border-bottom-right-radius: 3px 3px;
				border-top-left-radius: 3px 3px;
				border-top-right-radius: 3px 3px;
				clear: both;
				line-height: 140%;
				margin: 10px 5px;
				overflow: hidden;
				padding: 10px;
			}
			#order-total{
				margin: 10px 5px;
				padding: 10px;
				border: 1px solid #aaa;
				background-color: #ccc;
				overflow: hidden;
				label{
					min-width: 120px;
				}
			}
			a{
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
	}
}
