._orderDetails{
	label{
		display: inline-block;
	}
	#WC_ContentAreaESpot_div_1_63001{

	}
	#box{
		._orderInfo{
			padding: 5px;
			background-color: #eee;
			border: 1px solid #aaa;
			margin: 5px;
		}
		._content{
			padding: 5px;
			border: 2px solid #ccc;
			margin: 5px 17px;
			.sub-col{
				span{
					display: inherit;
				}
				label{
					min-width: 120px;
				}
			}
		}
		.checkout-container{
			
			.order-product-info{
				.image{
					display: block;
					float: left;
					width: 30%;
				}
				.info{
					display: block;
					padding-top: 30px;
				}
				._colQuantity{
					padding-top: 5px;
					display: block;
					float: left;
					label{
						float: left;
						padding-right: 5px;
						padding-top: 3px;
					}
					input{
						background: #ccc;
						border: 1px solid #aaa;
					}
				}
				._Quantity{
					float: left;
					._quantity{
						float: left;
						padding-top: 5px;
						margin-right: 3px;
					}
				}

				._eachDiv{
					display: block;
					padding-top: 5px;
					border-top: 1px solid #DDD;
					text-align: right;
					._colEach{
						float: right;
					}
					._each{
						margin-right: 4px;
						display: inline-block;
					}
				}
				._totalDiv{
					display: block;
					padding-bottom: 5px;
					border-bottom: 1px solid #DDD;
					text-align: right;
					font-weight: bold;
					._colTotal{
						float: right;
					}
					._total{
						margin-right: 4px;
						display: inline-block;
					}
				}

			}
			.order-product-last{
				
				._remove{
					padding-top: 20px;
					a{
						text-decoration: underline;
						color: #ff6311;
					}

				}
			}


			#OrderConfirmPagingDisplay{
				border: 2px solid #aaa;
				background: white;
				clear: both;
				line-height: 140%;
				margin: 10px 5px;
				overflow: hidden;
				padding: 10px;
				img{
					max-width:95%;
				}
			}
			#order-total{
				margin: 10px 5px;
				padding: 10px;
				border: 1px solid #aaa;
				background-color: #ccc;
				overflow: hidden;
				label{
					min-width: 120px;
				}
			}
			a{
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
	}
}
