._brandsDisplay{
	._dots{
		margin-top: 10px;
	}
	display: block;
	.brand-splash{
		text-align: center;
		padding: 5px;
		background-color: #555;
		img{
			border-radius: 10px;
		}
	}
	.brand-promos{
		h1{
			@include title_bar;
		}
		._brandCarouselContainer{
			._brandViewContainer{
				width: 2000px !important;
				.promo-box{
					float: left;
					width: 288px;
					padding: 10px;
					margin-left: 10px;
					margin-right: 10px;
					background-color: #ebebeb;
					border: 2px solid #555;
				}
			}
			div[data-ur-carousel-component="dot"]{
				margin-top: 5px;
			}
		}
		
	}
	.brand-categories{
		h1{
			@include title_bar;
		}
		.branding_double_cat{
			background-color: #eee;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;
			._brandCategories{
				width: 1500px !important;
				display: block;
				.category-item{
					display: inline-block;
					float: left;
					width: 170px;
					margin: 5px;
					text-align: center;

					a{
						background-color: #fff;
						display: block;
						border-radius: 4px;
						border: 2px solid #ccc;
						margin-bottom: 5px;
						text-align: center;
					}
					.topcat_product_name{
						text-align: center;
						font-weight: bold;
						height: 20px;
						color: #000;
					}
				}
			}
		}
		.branding_single_cat{
			background-color: #eee;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;
			.category-row{
				width: 980px !important;
				display: block;
				.category-item{
					display: inline-block;
					float: left;
					width: 170px;
					margin: 5px;
					text-align: center;

					a{
						background-color: #fff;
						display: block;
						border-radius: 4px;
						border: 2px solid #ccc;
						margin-bottom: 5px;
						text-align: center;
					}
					.topcat_product_name{
						text-align: center;
						font-weight: bold;
						height: 10px;
						color: #000;
					}
				}
			}
		}
	}
	.brand-featured-products{
		h1{
			@include title_bar;	
		}
		._featured_prod{
			background-color: #eee;
			padding: 5px;
			margin-bottom: 10px;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;
		}
		.brand_catpro{
			
			width: 2000px !important;
			overflow: hidden;
			
			li{
				margin: 5px 10px;
				float: left;
				.futute_proimage_01{
					background-color: #fff;
					width: 200px;
					height: 200px;
					border: 2px solid #ccc;
					border-radius: 4px;

				}
				.futute_prodata{
					width: 200px;
					a{
						text-align: center;
					}
					h4{
						overflow: hidden;
						text-overflow: ellipsis;
						color: #292929;
						display: block;
						font-size: 12px;
						font-weight: bold;
						height: 40px;
						padding: 5px;
						margin-top: 5px;
						border-bottom: 1px solid #cccccc;
					}
					.featured_product_price{
						color: #ff6311;
						display: block;
						font-size: 14px;
						font-weight: bold;
						margin: 0 0 10px;
						text-decoration: none;
					}
					.lpadd_tocart{
						@include add_to_cart_HP;
					}
					.add_wishlist{
						display: none;
					}
				}
			}
		}
	}
}