#ad_61501{
	border-top: 2px solid #5D5D5D;
	padding: 5px;
	background-color: #333; 
	img{
		border-radius: 10px;
	}
}

._catView[data-ur-carousel-component="view_container"]{
  background: #000;
}

._catView{
	position: relative;
	display: block;
	
	._catType{
		width: 175px;
		background-color: #000;
		padding: 7px;
		padding-left: 40px;
		padding-right: 40px;
		img{
			border-radius: 10px;
		}
	}
	._dots{
		@include dots;
		margin-bottom: 3px;
	}
}



.topcat_header{
	padding: 0px 0px 0px 3px;
	height: 25px;
	border-top: 1px solid #7c7c7c;
	border-bottom: 1px solid #7c7c7c;
	background: #ffe089;
	font-size: 18px;
	font-weight: bold;
	color: #606060;
	img{
		vertical-align: middle;
	}
}

.topcat_narrow_row{
	background-color: #ffe089;
	text-align: center;
	border-bottom: 1px solid #666;
	.top_cat{
		background-color: white;
		width: 250px;
		margin: 0px auto;
		
		padding-top: 13px;
		

		.topcat_proimage{
			width: 146px;
			margin-left: 50px;
			display: block;
			img{
				border: 2px solid #ccc;
				
			}
		}

		.topcat_product_name_cntr{
			span{
				width: 155;
				display: block;
				height: 30px;
				a{
					color: #505050;
					font-size: 12px;
					font-weight: bold;
					text-decoration: none;
					padding-top: 3px;
				}
			}
		}
	}
}
 
.topcat_right_content{
	display: none;
	.topcat_right_content_top{
		height: 25px;
		padding: 3px 0px 0px 3px;
		font-family: 'FrancoisOne', sans-serif !important;
		font-size: 18px;
		color: #606060;
		background: #ffe089;
		font-weight: bold;
		display: block;
		border-top: 1px solid #7c7c7c;
		border-bottom: 1px solid #7c7c7c;
		vertical-align: middle;
	}
	.topcat_right_content_main{
		background-color: #ffe089;
		padding: 20px;
		.topcat_right_content-product{
			border: 2px solid #555;
			padding: 10px 0;
			margin-bottom: 10px;
			background-color: #fff;
			div{
				text-align: center !important;
				a{
					h1{
						font-size: 16px;
						color: black;
						background: none;
						border-top: none;
						border-bottom: 1px solid #ffc623;
						padding-bottom: 4px;
					}
				}
				div{
					.discount-price{
						font-weight: bold;
						color: #ff6311;
						display: block;
						font-size: 14px;
						margin-bottom: 5px;
					}
					.lpadd_tocart{
						@include add_to_cart_HP;
					}
				}
			}
		}
	}
}