

._changePassword{
	margin: auto;
	padding-top: 5px;
	background: #FFF;
	h1{
		@include title_bar;
	}
	hr{
		@include horizontal_line;
	}
	.gray-box{
		padding: 5px;
		background-color: #ccc;
	}
	label{
		min-width: 120px !important;
	}
	.btn{
		margin: 5px;
	}
	
	#WC_PasswordUpdateForm_FormInput_logonPassword_In_Logon_1{
		margin-left: 24px;
	}
	
	#WC_PasswordUpdateForm_FormInput_logonPasswordVerify_In_Logon_1{
		margin-left: 15px;
	}

}