

._changePassword{
	margin: auto;
	padding-top: 5px;
	background: #FFF;
	h1{
		@include title_bar;
	}
	hr{
		@include horizontal_line;
	}
	.gray-box{
		padding: 5px;
		background-color: #ccc;
	}
	label{
		min-width: 120px !important;
	}
	.btn{
		margin: 5px;
	}
}