._contact{
	overflow: hidden;
	div{
		display: block;
		
		h1{
			@include title_bar;
		}
		hr{
			@include horizontal_line;
		}

		.mw_was_td{
			padding: 10px;
			background-color: rgb(202, 202, 202) !important;
			width: auto !important;
			margin-bottom: 5px;
			border-bottom: 2px solid #555;
		}
	}
}