._forgetPassword{
	h1{
		@include title_bar;
	}
	hr{
		@include horizontal_line;
	}
	.gray-box{
		background: #eee;
		padding: 10px;
		.forget-pass{
			padding-bottom: 10px;
		}

		form{
			.send_mepass{
				margin-bottom: 11px;
				label{
					min-width: 100px;
					font-weight: bold;
				}
				input{
					margin: 5px 0px;
					padding: 4px;
					background: #ccc;
					border: 1px solid #aaa;
					border-radius: 3px;
					box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
				}
			}
		}
	}
}