.product-detail{
	background-color: #eee;
}

.product_spacing{
	margin-top: 0px;
	padding: 5px;
	background-color: #ffe089;
	color: black;
	border-bottom: 2px solid #ffc623;
	font-weight: bold;
	text-align: center;
	div{
		font-weight: normal;
		display: block;
		font-size: 12px;
		letter-spacing: normal;
		ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
			overflow: hidden;
			height: auto;
			li{
				float: left;

			}

		}

	}
}
.product-detail-content{
	.main-col{
		.gallery{
			
			padding: 20px;
			.images2{
				width: 40%;
				margin: 0px auto;
				
				border: 1px solid #000;
				img{
					vertical-align: middle;
				}

			}
		}
		.product-info{
			padding:0 10px;
			h1{
				margin-bottom: 5px;
				color: #ff6311;
				font-size: 16px;
				font-weight: bold;
			}
			h4{
				margin: 4px 0;
				color: #444;
				font-weight: bold;
				letter-spacing: normal;
			}
			h2{
				margin: 5px 0;
				color: #ff6311;
			}
			label{
				margin: 4px 0;
				color: #444;
				font-weight: bold;
				letter-spacing: normal;
			}
			input[type=text]{
				@include input;
				border-radius: 3px;
				margin-right: 5px;
				
			}
		}
		.product-more-info{
			padding: 10px;
			h2{
				border: 1px solid #808080;
				@include background(linear-gradient(#fff, #c0c0c0));
				line-height: 1;
				text-align: center;
				margin-top: 5px;
				font-size: 16px;
				font-weight: bold;
				padding: 10px;
				-webkit-margin-after: 0px;
			}
			p{
				padding: 5px;
				background-color: #ccc;
			}
			ul{
				padding: 5px;
				background-color: #ccc;
				strong{
					font-weight: bold;
				}
			}
		}
	}
}