._location{
	div{
		display: block;
		h1{
			@include title_bar;
		}
		hr{
			@include horizontal_line;
		}
		#ad_18101{
			display: block;
			#WC_ContentAreaESpot_div_22_1{
				height: auto;
			}
		}
		
	}

}