._location{
	div{
		display: block;
		h1{
			background-color: #ffe089;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;
			font-size: 2em;
			padding: 3px;
			font-weight: bold;
		}
		#ad_18101{
			display: block;
			#WC_ContentAreaESpot_div_22_1{
				height: 100%;
			}
		}
		
	}

}