.order-confirm{
	display: block;
	padding-top: 5px;
	h1{
		background-color: #ffe089;
		border-top: 1px solid #555;
		border-bottom: 1px solid #555;
		font-weight: bold;
		padding: 5px;
		font-size: 16px;
	}
	#order-summary{
		display: block;
		#order_details{

		}
	}

	.mw_was_tbody{
		-webkit-box-shadow: #555 1px 1px 4px;
		background: white;
		border-bottom-left-radius: 3px 3px;
		border-bottom-right-radius: 3px 3px;
		border-top-left-radius: 3px 3px;
		border-top-right-radius: 3px 3px;
		clear: both;
		line-height: 140%;
		margin: 10px 5px;
		overflow: hidden;
		padding: 10px;
		
		.order-product-info{
			.image{
				display: block;
				float: left;
				width: 30%;
			}
			.info{
				display: block;
				padding-top: 10px;
			}
			._colQuantity{
				padding-top: 5px;
				display: block;
				float: left;
				label{
					float: left;
					padding-right: 5px;
					padding-top: 3px;
				}
				input{
					background: #ccc;
					border: 1px solid #aaa;
				}
			}
			._colEach{
				display: block;
				padding-top: 5px;
				border-top: 1px solid #DDD;
				text-align: right;
			}
			._colTotal{
				display: block;
				padding-bottom: 5px;
				border-bottom: 1px solid #DDD;
				text-align: right;
				font-weight: bold;
			}

		}
		.order-product-last{
			._delete{
				display: none;
			}
			._remove{
				padding-top: 20px;
				a{
					text-decoration: underline;
					color: #ff6311;
				}
				
			}
		}
		

	}

	#cart-total{
		display: block;
		._promo{
			border: 2px solid #555;
			padding: 10px 10px 10px 130px;
			background-color: #ededed;
			height: 114px;
			margin: 10px 5px;
			
			#PromotionCodeForm{
				display: block;
				margin-top: 0em;
				h2{
					margin-left: -128px;
					margin-top: -8px;
					position: absolute;
					width: 110px;
					height: 120px;
					color: white;
					background-color: #555555;
					padding: 5px;
					line-height: 1em;
					font-weight: bold;
					font-size: 16px;

				}
				label{
					display: inline-block;
					min-width: 100px;
					font-weight: bold;
				}
				input{
					margin: 5px 0px;
					padding: 4px;
					background: #ccc;
					border: 1px solid #aaa;
					width: 130px;

				}
			}
		}
		._shipping{
			border: 2px solid #555;
			padding: 10px 10px 10px 130px;
			background-color: #ededed;
			height: 114px;
			margin: 10px 5px;
			font-weight: bold;
			font-size: 16px;
			h2{
				margin-left: -128px;
				margin-top: -8px;
				position: absolute;
				width: 110px;
				height: 120px;
				color: white;
				background-color: #555555;
				padding: 5px;
				line-height: 1em;
			}
			input{
				margin: 5px 0px;
				padding: 4px;
				background: #ccc;
				border: 1px solid #aaa;
				width: 130px;
			}
			label{
				display: inline-block;
				min-width: 100px;
				font-weight: bold;
				font-size: 13px;
			}
			a{
				font-size: 13px;
			}
		}
		._tax{
			border: 2px solid #555;
			padding: 10px 10px 10px 130px;
			background-color: #ededed;
			height: 114px;
			margin: 10px 5px;
			font-weight: bold;
			font-size: 16px;
			h2{
				margin-left: -128px;
				margin-top: -8px;
				position: absolute;
				width: 110px;
				height: 120px;
				color: white;
				background-color: #555555;
				padding: 5px;
				line-height: 1em;
			}
			>div{
				font-size: 12px;
				font-weight: normal;
			}
			font{
				font-weight: bold;
			}
		}

	}
}