.account-col-quick-order{
	overflow: hidden;

	display: block;
	
	
	h1{
		@include title_bar;
	}

	.Quick-Order-eSpot{
		
		.quick-order-po-number{
			width: 300px;
			float: left;
			.quick-order-po-number-text{
				width: 100px;
				float: left;
			}
			input{
				margin: 5px 0px;
				padding: 4px;
				background: #ccc;
				border: 1px solid #aaa;
				box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
			}
		}
		._shipToQO{
			h3{
				float: left;
				display: inline-block;
			}
			select{
				margin: 8px;
			}
		}
		._addressQO{
			float: right;
			width: 300px;
			.erp-shipping-address-detail{
				width: 200px;
			}
		}
		#WC_ContentAreaESpot_div_1_18351{
			display: none;
			#ad_18351{
				width: 300px;
				div{
					display: inline-block;
				}
			}
		}
		margin-top: 5px;
		width: 100%;
		background-color: #ddd;
		>div{
			padding: 10px;
		}
		h3{
			display: block;
			font-size: 1.17em;
			font-weight: bold;
		}
	}
	.checkout-container-Quick-Order{
		margin: 3px;
		padding: 5px;
		border: 2px solid #ccc;
		.sub-col-Quick-Order{
			border-bottom: 1px solid #333;
			h2{
				border-bottom: 2px solid #DFDFDF;
				margin-bottom: 10px;
			}

			.quickOrderSKU{
				display: block;
				input{
					@include input;
				}
			}
			#WC_ContentAreaESpot_div_1_19601{
				display: none;
			}
			#quickOrderPaste{
				display: none;
				width: 96%;
				margin: 5px 0px;
				padding: 4px;
				background: #ccc;
				border: 1px solid #aaa;
			}
			#WC_QuickOrderForm_Submit_2{
				display: none;
			}
		}
		.sub-col-right-Quick-Order{
			h2{
				padding-top: 5px; 
				border-bottom: 2px solid #dfdfdf;
				margin-bottom: 10px;
			}
			.order-product-info{
				margin-bottom: 5px;
				background-color: #ddd;
				padding: 5px;
				._titleHead{
					float: left; 
					font-weight: bold; 
					margin-right: 10px;
				}
				._remove{
					text-decoration: underline;
					a{
						color: #505050;
					}
				}
			}
		}
		
	}
	.quick-order-process-order{
		.Quick-Order-Btn{
			margin-bottom: 10px;
			float: none;
			margin-left: 10px;
		}
	}

			
}

.Quick-Order-Btn{
	float: right;
	margin-right: 10px;
}