.account-col-quick-order{
	overflow: hidden;

	display: block;
	
	
	h1{
		@include title_bar;
	}

	.Quick-Order-eSpot{
		
		margin-top: 5px;
		width: 100%;
		background-color: #ddd;
		>div{
			padding: 10px;
		}
		h3{
			display: block;
			font-size: 1.17em;
			font-weight: bold;
		}
	}
	.checkout-container-Quick-Order{
		margin: 3px;
		padding: 5px;
		border: 2px solid #ccc;
		.sub-col-Quick-Order{
			border-bottom: 1px solid #333;
			h2{
				border-bottom: 2px solid #DFDFDF;
				margin-bottom: 10px;
			}

			.quickOrderSKU{
				display: block;
				input{
					@include input;
				}
				a{
					margin-left: 10px; 
					margin-bottom: 5px;
				}
			}
			#quickOrderPaste{
				width: 96%;
				margin: 5px 0px;
				padding: 4px;
				background: #ccc;
				border: 1px solid #aaa;
			}

		}
		.sub-col-right-Quick-Order{
			h2{
				padding-top: 5px; 
				border-bottom: 2px solid #dfdfdf;
				margin-bottom: 10px;
			}
			.order-product-info{
				margin-bottom: 5px;
				background-color: #ddd;
				padding: 5px;
				._remove{
					text-decoration: underline;
					a{
						color: #505050;
					}
				}
			}
		}
		
	}
			
}

.Quick-Order-Btn{
	float: right;
	margin-right: 10px;
}