.register{
	h1{
		@include title_bar;
	}
	.checkout-container{
		display: block;
		border: 2px solid #ccc;
		padding: 10px;
		margin: 10px 3px;
		overflow: hidden;
		label{
			display: inline-block;
			font-weight: bold;
			min-width: 120px;
		}
		input[type="text"]{
			margin: 5px 0;
			border: 1px solid #aaa;
			background: #ccc;
			padding: 3px;
		}
		input[type="password"]{
			margin: 5px 0;
			border: 1px solid #aaa;
			background: #ccc;
			padding: 3px;
			width: 130px;
		}
		select{
			margin: 5px 0;
			border: 1px solid #aaa;
			background: #ccc;
			padding: 3px;
			width: 157px;
		}
		ol{
			padding-left: 15px;
			list-style-type: decimal;
			display: block;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 20px;
			li{
				margin-bottom: -15px;
				display: list-item;
				text-align: -webkit-match-parent;
				input[type="radio"]{
					margin: 3px 3px 0px 5px;
					-webkit-appearance: radio;
					box-sizing: border-box;
				}
				input[type="checkbox"]{
					margin: 3px 3px 3px 4px;
					margin-bottom: 8px;
					-webkit-appearance: checkbox;
					box-sizing: border-box;
				}
			}
		}

	}
	>a{
		margin-bottom: 10px;
	}

}