.req-list-last-updated {
	display: inline;
	font-size: 12px;
	color: #666;
}

.req-list-type {
	display: inline;
	font-size: 12px;
}

.req-list-creator {
	display: inline;
	font-size: 12px;
}

.req-list-creator-name {
	display: inline;
}

.req-list-name {
	text-decoration: underline;
	font-size: 20px;
	font-weight: bold;
}