._specials{
	div{
		h1{
			background-color: #ffe089;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;
		}
		hr{
			@include horizontal_line;
		}

		#ad_62001{
			._onlineSpecials{
				img{
					height: 50px;
				}
			}
			#WC_ContentAreaESpot_div_22_1{
				._specialText{
					padding: 10px;
					font-family: Verdana, Geneva, sans-serif;
					font-size: 14px;
					background-color: #f5f5f5;
					text-align: center;
				}
				._scpeicalsScroller{
					._container{
						@include specialsScroll;
					}
				}
				._specialsBottom{
					h1{
						padding: 5px;
					}
					._specialsTextBottom{
						padding: 5px;
						background-color: #ccc;

					}
				}
			}
		}
		
	}

}