._specials{
	div{
		display: block;
		h1{
			background-color: #ffe089;
			border-top: 1px solid #555;
			border-bottom: 1px solid #555;
			font-size: 2em;
			padding: 3px;
			font-weight: bold;
		}
		hr{
			display: block;
			background-color: #fc0;
			height: 2px;
			border: none;
			margin: 10px 0px;
		}
		
		
	}

}