._traderESpot{
	.brand-splash{
		img{
			height: 40px;
		}
	}
	h1{
		@include title_bar;
	}
	._traderCarousel{
		._traderView{
			.promo-box{
				.ad{
					padding-left: 20px;
					padding-right: 20px;

				}
			}
		}
		._dots{
			div{
				margin-top: 5px;
			}
		}
	}
}