#will_call_modal_dialog{
	div{
		div{
			bottom: 26px !important;
			right: 22px !important;
			// width: 65px;
		}
	}
}



.will_call_form_border{
	border: 1px solid #ddd;
	overflow: hidden;
	padding: 5px 10px;
	form{
		#cityMarker{
			width: 70%;
			margin-left: 18px;
		}
		#stateMarker{
			width: 72%;
			margin-left: 5px;
		}
		#postalcode{
			width: 70%;
		}
	}
}