#will_call_modal_dialog{
	position: absolute;
	top: 0px !important;
	left: 0px !important;
	.dijitDialogPaneContent{
		overflow: hidden;
		width: 320px !important;
		height: auto !important;
	}
}



.will_call_form_border{
	border: 1px solid #ddd;
	overflow: hidden;
	padding: 5px 10px;
	form{
		#cityMarker{
			width: 70%;
			margin-left: 18px;
		}
		#stateMarker{
			width: 72%;
			margin-left: 5px;
		}
		#postalcode{
			width: 70%;
		}
	}
}

._cancelContainer{
	position: absolute;
	bottom: 16px !important;
	right: 22px !important;
}

.will_call_map_wrapper{
	margin-top: 10px;
	border: 1px solid #ddd;
	padding: 5px;
	ul.will_call_map_data {
		margin: 0px;
		padding: 0px;
		list-style: none outside none;
		li{
			border-bottom: 1px solid #EEE;
			padding: 10px 0;
			height: 405px;
			p{
				float: left;
				width: 160px;
				display: block;
				span{
					display: block;
					width: 160px;
					float: left;
				}

			}
			.will_call_map_img{
				float: left;
				width: 115px;
				float: right;

			}
		}
	}

}