$ig-sprites-url: url("/_moovweb_local_assets_/images/ig-sprites.png");

$ig-sprites-width: 300px;
$ig-sprites-height: 710px;

$ig-sprites-breadcrumb-x: 0px;
$ig-sprites-breadcrumb-y: 0px;
$ig-sprites-breadcrumb-width: 5px;
$ig-sprites-breadcrumb-height: 8px;

$ig-sprites-btn_bg-x: 0px;
$ig-sprites-btn_bg-y: -9px;
$ig-sprites-btn_bg-width: 2px;
$ig-sprites-btn_bg-height: 2px;

$ig-sprites-content_top-x: 0px;
$ig-sprites-content_top-y: -12px;
$ig-sprites-content_top-width: 3px;
$ig-sprites-content_top-height: 36px;

$ig-sprites-form_bg-x: 0px;
$ig-sprites-form_bg-y: -49px;
$ig-sprites-form_bg-width: 179px;
$ig-sprites-form_bg-height: 33px;

$ig-sprites-gplus-x: 0px;
$ig-sprites-gplus-y: -83px;
$ig-sprites-gplus-width: 256px;
$ig-sprites-gplus-height: 256px;

$ig-sprites-menu_go-x: 0px;
$ig-sprites-menu_go-y: -340px;
$ig-sprites-menu_go-width: 9px;
$ig-sprites-menu_go-height: 13px;

$ig-sprites-minus-x: 0px;
$ig-sprites-minus-y: -354px;
$ig-sprites-minus-width: 13px;
$ig-sprites-minus-height: 13px;

$ig-sprites-moovweb-x: 0px;
$ig-sprites-moovweb-y: -368px;
$ig-sprites-moovweb-width: 90px;
$ig-sprites-moovweb-height: 11px;

$ig-sprites-ok-x: 0px;
$ig-sprites-ok-y: -380px;
$ig-sprites-ok-width: 15px;
$ig-sprites-ok-height: 15px;

$ig-sprites-plus-x: 0px;
$ig-sprites-plus-y: -396px;
$ig-sprites-plus-width: 13px;
$ig-sprites-plus-height: 13px;

$ig-sprites-twitter-x: 0px;
$ig-sprites-twitter-y: -410px;
$ig-sprites-twitter-width: 300px;
$ig-sprites-twitter-height: 300px;

@mixin ig-sprites-breadcrumb() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px 0px;
  width: 5px;
  height: 8px;
}

@mixin ig-sprites-btn_bg() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -9px;
  width: 2px;
  height: 2px;
}

@mixin ig-sprites-content_top() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -12px;
  width: 3px;
  height: 36px;
}

@mixin ig-sprites-form_bg() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -49px;
  width: 179px;
  height: 33px;
}

@mixin ig-sprites-gplus() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -83px;
  width: 256px;
  height: 256px;
}

@mixin ig-sprites-menu_go() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -340px;
  width: 9px;
  height: 13px;
}

@mixin ig-sprites-minus() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -354px;
  width: 13px;
  height: 13px;
}

@mixin ig-sprites-moovweb() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -368px;
  width: 90px;
  height: 11px;
}

@mixin ig-sprites-ok() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -380px;
  width: 15px;
  height: 15px;
}

@mixin ig-sprites-plus() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -396px;
  width: 13px;
  height: 13px;
}

@mixin ig-sprites-twitter() {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -410px;
  width: 300px;
  height: 300px;
}

.ig-sprites-breadcrumb {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px 0px;
  width: 5px;
  height: 8px;
}

.ig-sprites-btn_bg {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -9px;
  width: 2px;
  height: 2px;
}

.ig-sprites-content_top {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -12px;
  width: 3px;
  height: 36px;
}

.ig-sprites-form_bg {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -49px;
  width: 179px;
  height: 33px;
}

.ig-sprites-gplus {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -83px;
  width: 256px;
  height: 256px;
}

.ig-sprites-menu_go {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -340px;
  width: 9px;
  height: 13px;
}

.ig-sprites-minus {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -354px;
  width: 13px;
  height: 13px;
}

.ig-sprites-moovweb {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -368px;
  width: 90px;
  height: 11px;
}

.ig-sprites-ok {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -380px;
  width: 15px;
  height: 15px;
}

.ig-sprites-plus {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -396px;
  width: 13px;
  height: 13px;
}

.ig-sprites-twitter {
  background: url("/_moovweb_local_assets_/images/ig-sprites.png") no-repeat 0px -410px;
  width: 300px;
  height: 300px;
}
