$images@2x-url: url("/_moovweb_local_assets_/images/images@2x.png");

$images@2x-width: 128px;
$images@2x-height: 515px;

$images@2x-cart-x: 0px;
$images@2x-cart-y: 0px;
$images@2x-cart-width: 128px;
$images@2x-cart-height: 128px;

$images@2x-male_user-x: 0px;
$images@2x-male_user-y: -129px;
$images@2x-male_user-width: 128px;
$images@2x-male_user-height: 128px;

$images@2x-menu-x: 0px;
$images@2x-menu-y: -258px;
$images@2x-menu-width: 128px;
$images@2x-menu-height: 128px;

$images@2x-search-x: 0px;
$images@2x-search-y: -387px;
$images@2x-search-width: 128px;
$images@2x-search-height: 128px;

@mixin images@2x-cart() {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px 0px;
  width: 128px;
  height: 128px;
}

@mixin images@2x-male_user() {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px -129px;
  width: 128px;
  height: 128px;
}

@mixin images@2x-menu() {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px -258px;
  width: 128px;
  height: 128px;
}

@mixin images@2x-search() {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px -387px;
  width: 128px;
  height: 128px;
}

.images@2x-cart {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px 0px;
  width: 128px;
  height: 128px;
}

.images@2x-male_user {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px -129px;
  width: 128px;
  height: 128px;
}

.images@2x-menu {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px -258px;
  width: 128px;
  height: 128px;
}

.images@2x-search {
  background: url("/_moovweb_local_assets_/images/images@2x.png") no-repeat 0px -387px;
  width: 128px;
  height: 128px;
}
