$menu_icons-url: url("/_moovweb_local_assets_/images/menu_icons.png");

$menu_icons-width: 128px;
$menu_icons-height: 515px;

$menu_icons-cart-x: 0px;
$menu_icons-cart-y: 0px;
$menu_icons-cart-width: 128px;
$menu_icons-cart-height: 128px;

$menu_icons-male_user-x: 0px;
$menu_icons-male_user-y: -129px;
$menu_icons-male_user-width: 128px;
$menu_icons-male_user-height: 128px;

$menu_icons-menu-x: 0px;
$menu_icons-menu-y: -258px;
$menu_icons-menu-width: 128px;
$menu_icons-menu-height: 128px;

$menu_icons-search-x: 0px;
$menu_icons-search-y: -387px;
$menu_icons-search-width: 128px;
$menu_icons-search-height: 128px;

@mixin menu_icons-cart() {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px 0px;
  width: 128px;
  height: 128px;
}

@mixin menu_icons-male_user() {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px -129px;
  width: 128px;
  height: 128px;
}

@mixin menu_icons-menu() {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px -258px;
  width: 128px;
  height: 128px;
}

@mixin menu_icons-search() {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px -387px;
  width: 128px;
  height: 128px;
}

.menu_icons-cart {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px 0px;
  width: 128px;
  height: 128px;
}

.menu_icons-male_user {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px -129px;
  width: 128px;
  height: 128px;
}

.menu_icons-menu {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px -258px;
  width: 128px;
  height: 128px;
}

.menu_icons-search {
  background: url("/_moovweb_local_assets_/images/menu_icons.png") no-repeat 0px -387px;
  width: 128px;
  height: 128px;
}
