
// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();


@mixin input{
	margin: 5px 0px;
	padding: 4px;
	background: #ccc;
	border: 1px solid #aaa;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
}

@mixin title_bar{
    background-color: #ffe089;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    font-size: 1.7em;
    padding: 5px;
    font-weight: bold;
}

@mixin horizontal_line{
    display: block;
    background-color: #fc0;
    height: 2px;
    border: none;
    margin: 10px 0px;
}

@mixin dots{
    div{
      margin-bottom: 0;
      margin-left: 3px;
      margin-right: 3px;
    }
    div[data-ur-state="active"]{
      background: white;
      width: 5px;
      height: 5px;
      padding-bottom: 5px;
    }
    div[data-ur-state="inactive"]{
      background: gray;
      opacity: .7;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      padding-bottom: 5px;
    }
}

@mixin add_to_cart_HP{
  background: url(../../../images/addto_cart_bg.jpg) repeat-x #f8c301;
  font-weight: bold;
  height: 30px;
  width: 80px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  padding-top: 5px;
}

@mixin bars{
  font-family: 'FrancoisOne', sans-serif;
  border-bottom:1px solid #808080;
  border-top: 1px solid #808080;
  background: #aaa;
  background-position-x: right;
  display: block;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px;
  color: #2C3539;
}

@mixin subbars{
  font-family: 'FrancoisOne', sans-serif;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  background-position-x: right;
  background-color: #eee;
  display: block;
  font-size: 13px;
  line-height: 1;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #726E6D;
}

@mixin specialsScroll{
  background-color: #eee;
            padding: 5px;
            border-bottom: 1px solid #888;
            border-top: 1px solid #888;
            div{
              div{

                text-align: center;
                img{
                  margin-left: 5px;
                  margin-right: 5px;
                  margin-bottom: 10px;
                }
              }
            }
}

.btn{
  background: url(../../../images/addto_cart_bg.jpg) repeat-x;
  font-weight: bold;
  height: 22px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0px auto;
  border-radius: 5px;
  padding: 0px 10px;
}

.btn-gray{
  background: url(../../../images/addto_cart_bg-gray.jpg) repeat-x;
  font-weight: bold;
  height: 22px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin: 0px auto;
  border-radius: 5px;
  padding: 0px 10px;
}

