
// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();


@mixin input{
	margin: 5px 0px;
	padding: 4px;
	background: #ccc;
	border: 1px solid #aaa;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4) inset;
}

@mixin title_bar{
    background-color: #ffe089;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    font-size: 1.7em;
    padding: 5px;
    font-weight: bold;
}

@mixin horizontal_line{
    display: block;
    background-color: #fc0;
    height: 2px;
    border: none;
    margin: 10px 0px;
}

@mixin dots{
    div{
      margin-bottom: 0;
      margin-left: 3px;
      margin-right: 3px;
    }
    div[data-ur-state="active"]{
      background: white;
      width: 5px;
      height: 5px;
      padding-bottom: 5px;
    }
    div[data-ur-state="inactive"]{
      background: gray;
      opacity: .7;
      width: 5px;
      height: 5px;
      margin-top: -3px;
      padding-bottom: 5px;
    }
}

@mixin add_to_cart_HP{
  background: url(../../../images/addto_cart_bg.jpg) repeat-x;
  font-weight: bold;
  height: 22px;
  width: 80px;
  color: #292929;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0px auto;
  border-radius: 5px;
}


