._copyright{
	font-size: 10px;
}

._info{
	a{
		color: white;
		text-decoration: underline;
		margin-left: 2px;
		margin-right: 2px;
	}
}

 #WC_ContentAreaESpot_div_1_13352 {
		background-color: #000;
		color: #ccc;
		text-align: center;
	}

	.copyright_left_box{
		text-align: center;
		background-color: #000;
		color: #ccc;
	}

