.header_container {
  #WC_ContentAreaESpot_links_7_1{
    img{
      width: 60%;
    }
  }
}

#autoSuggest_Container{
	text-align: left;
	.autoSuggestBoxPopup{
		position: relative;
		border-radius: 3px;
		background: white;
		z-index: 9999;
		padding: 10px;
		margin-top: 40px;
		margin-bottom: 20px;
		width:200px;
		border: 1px solid #aaa;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) inset;
		.autoSuggest_wrapper{
			a{
				color: #3a00f4;
				text-decoration: underline;
					
			}
			.heading{
				color: #505050;
				font-weight: bold;
			}
			display: block;
			.dijitContentPane{
				direction: ltr;
				unicode-bidi: embed;
				#suggestedKeywordsHeader{
					color: #505050;
					font-weight: bold;
				}
				ul{
					color: #999;
					display: block;
					list-style-type: disc;
					-webkit-margin-before: 1em;
					-webkit-margin-after: 1em;
					-webkit-margin-start: 0px;
					-webkit-margin-end: 0px;
					-webkit-padding-start: 40px;
					li{
						a{
							border-bottom: 1px solid #fff;
						    background-position-x: right;
						    background-color: #fff;
						    display: block;
						    font-size: 16px;
						    line-height: 1;
						    text-decoration: none;
						    text-transform: lowercase;
						    padding-top: 5px;
						    padding-bottom: 5px;
						}
					}
				}
				
			}
			.results{
				ul{
					color: #999;
					display: block;
					list-style-type: disc;
					-webkit-margin-before: 1em;
					-webkit-margin-after: 1em;
					-webkit-margin-start: 0px;
					-webkit-margin-end: 0px;
					-webkit-padding-start: 40px;
					li{
						a{
							border-bottom: 1px solid #fff;
						    background-position-x: right;
						    background-color: #fff;
						    display: block;
						    font-size: 16px;
						    line-height: 1;
						    text-decoration: none;
						    text-transform: lowercase;
						    padding-top: 5px;
						    padding-bottom: 5px;
						}
					}
				}
			}

		}
	}
}

._home {
  
  ._category {
    font-family: 'FrancoisOne', sans-serif;
    border-bottom:1px solid #808080;
    border-top: 1px solid #808080;
    @include background(linear-gradient(#fff, #c0c0c0));
    background-position-x: right;
    display: block;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    padding: 10px;
    color: #2C3539;
  }

  

  ._sub2 {
    font-family: 'FrancoisOne', sans-serif;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    background-position-x: right;
    background-color: #eee;
    background-color: #fff;
    display: block;
    font-size: 13px;
    line-height: 1;
    text-decoration: none;
    text-transform: lowercase;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    color: #726E6D;
  }

  /* header bar*/
  #ad_17601{
    @include background(linear-gradient(#555, #111));
    border-bottom: 1px solid #c3c3c3;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  .checkout_wrapper {
    text-align: center;
    background-color: #ddd;
    position: relative;
    >div {
      
      position: relative;
      bottom: 0;
      opacity: .8;
      margin-bottom: -3px;
      
      >div{
        display: inline-block;
        padding-top: 3px;
      }
    }
  }

  #_icons_bar{ 
    position: absolute;
    bottom: 0;
    right: 5px;
    opacity: .8;

       
    >div:hover{
      cursor: pointer;
      
    }
    >div{
      padding-left: 4px;
      padding-right: 4px;
      display: inline-block;    
      width: 30px;
      height: 30px;
    }
  }

  ._header_bar {
    border-bottom: 1px solid #C3C3C3;
    background-color: #777;
    color: #ccc;
    position: relative;
    background-position-x: right;
    font-weight: bold;
    display: block;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    text-transform: capitalize; 
    padding: 10px;
  }

  #search_bar{
    border-bottom: 2px solid #C3C3C3;
    background-color: #777; 
    color: #ccc;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
       
  }

  #header-search{
    display: inline-block;
    padding-left: 10px;
    >a{
      color: #ccc;
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      text-transform: capitalize; 
    }
  }

  #SimpleSearchForm_SearchTerm{
    float: left;
  }

  #searchDiv {
    margin-top: 5px;
    float: left;
  }

  #headerAdvancedSearch  {
    display: block;
    margin-top: 35px;
  }

  ._cart {
    border-bottom: 1px solid #C3C3C3;
    background-color: #777;
    color: #ccc;
    text-align: left;
    position: relative;
    background-position-x: right;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    text-transform: capitalize; 
    padding: 10px;
  }
   .MyAccountURLSep a{
    text-align: center;
  }

  #shoppingCartBar{
      text-align: center;
  }



  

}