a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background: #f2f2f2;
        text-align: center;
  font-family: Arial,sans-serif;
  padding: 10px;
  border: 4px solid #000;
  border-radius: 10px;
  label{
    display: block;
  }
}

.shadow{
  -moz-box-shadow: 1px 1px 1px #888;
  -webkit-box-shadow: 1px 1px 1px #888;
  box-shadow: 1px 1px 1px #888; 
}

._popcolor{

}



// .messagepop p, .messagepop.div {
//   border-bottom: 1px solid #EFEFEF;
//   margin: 8px 0;
//   padding-bottom: 8px;
// }

._continueShop{
  text-align: center;
  padding: 5px;
  width: 150px;
  min-width: 100px;
  margin-right: 5px;
}

._gotocart{
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: gold;
  width: 150px;
  min-width: 100px;
}