// Reset file for standardizing the page
@import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// File for global Uranium stylings
@import "globals/_uranium.scss";

// Site wide variables
@import "globals/_variables.scss";

// Menu Icons
@import "globals/_sprites.scss";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";
@import "sections/_popup";

// Pages
@import "pages/_categories";
@import "pages/_home";
@import "pages/_login";
@import "pages/_products";
@import "pages/_items";
@import "pages/_orderItemDisplay";
@import "pages/_brands";
@import "pages/_search";
@import "pages/_location";
@import "pages/_contactus";
@import "pages/_specials";
@import "pages/_quickOrder";
@import "pages/_register";
@import "pages/_advancedSearch";
@import "pages/_loggedIn";
@import "pages/_forgetpassword";
@import "pages/_changePassword";
@import "pages/_reLogin";
@import "pages/_logonForm";
@import "pages/_shippingBilling";
@import "pages/_brandCategoryDisplay";
@import "pages/_shipmentOrderSummary";
@import "pages/_userRegistrationForm";
@import "pages/_ajaxAddressBook";
@import "pages/_AjaxRequisitionListDisplayView";
@import "pages/_AjaxRequisitionListCreateView";
@import "pages/_AjaxRequisitionListDetailView";
@import "pages/requisitionList";